{% extends 'catalog/base.html' %}

{% block content %}
    <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                Менеджер
                            </h4>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
                {% if object %}
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">
                                    Пользователи
                                </h4>
                            </div>
                            <div class="card-body">
                                <button type="submit" class="btn btn-success">Сохранить</button>
                                <a type="button" class="btn btn-danger">Удалить</a>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
    </div>

{% endblock %}