{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p> Хотите удалить запись "{{ object.letter_subject }}"? </p>
                            <button type="submit" class="btn btn-success">
                                Подтвердить
                            </button>
                            <a href="{% url 'smm:message_list' %}" class="btn btn-warning"> Отмена </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}