{% extends 'catalog/base.html' %}

{% load static %}
{% load my_tags %}
{% block content %}
    <div class="row">

        {% for product in products %}
            <div class="col-md-4">
                <div>
                    {{ product.product_description|truncatechars:500 }}
                </div>
                <div>
                    <img src="/media/{{ product.img }}" style="width: 250px;height: 150px"/>
                    <br>
                    <img src="{{ product.img|mediapath }}" style="width: 250px;height: 150px"/></img>
                </div>
            </div>



        {% endfor %}
    </div>
{% endblock %}


